* {
  margin: 0;
  padding: 0;
}
.landing {
  position: relative;
  background: url('./components/images/network.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 92vh;
  margin-bottom: -50px;
  padding-bottom:
}
.landing-info-container {
  background-color: #1f0891;
  opacity: .96;
}
.logout-btn {
  cursor: pointer;
}
